@{
  Layout = "_Layout";
}

@model RestBestaurants.Models.Category

<h4>Add a new Cuisine category</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <input type="submit" value="Add new cuisine" />
}
<p>@Html.ActionLink("Show all cuisines", "Index")</p>